picosoc_AIP/db/*
picosoc_AIP/incremental_db/*
picosoc_AIP/output_files/*
picosoc_AIP/*.qws
picosoc_AIP/*.rpt
picosoc_AIP/*.txt
picosoc_AIP/*.bak
picosoc_AIP/devkits/*
mods/*
sim/*
!sim/*.do
!sim/*.v
!sim/*.sv
!sim/files
picosoc_AIP/!simulation/questa/*.do
picosoc_AIP/simulation/questa/*.sft
picosoc_AIP/simulation/questa/*.vo
picosoc_AIP/simulation/questa/rtl_work/*
picosoc/*.bak
picosoc/*.vcd
picosoc/*.out
picosoc/firmware/*.hex
picosoc/firmware/*.elf
